.project {
  color: white;
  background-color: #050505;
  /* height: 200vh; */
}
:root {
  --top: 30px;
}
.project .tops {
  display: flex;
  width: 100%;
  padding: 0 13%;
  justify-content: space-between;
  padding-top: var(--top);
  padding-bottom: 20px;
  margin-bottom: 50px;
  z-index: 50;
  position: relative;
  background-color: #050505;
}
body:not(.header) ~ .tops {
  background-color: blue;
  --top: 50px;
}
.project .tops button {
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  font-family: "Outfit", system-ui;
  background-color: #00c896;
  /* background-color: #f5b061; */
  font-weight: 500;
  color: #363636;
  cursor: pointer;
}
.project .tops button i {
  margin-left: 5px;
}
.project h1 {
  display: flex;
  font-size: 40px;
  text-align: center;
  align-items: center;
  column-gap: 20px;
  color: #f2ecff;
  font-family: "Outfit", system-ui;
  /* justify-content: center; */
}
.project .link {
  width: 70%;
  margin-left: 15%;
  /* justify-content: space-around; */
  display: flex;
  align-items: center;
}
.project .link p {
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  margin: 0 1.5vw;
  padding: 2px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}
.project .link p:hover {
  background-color: #f2ecff;
  color: #090909;
}

.project .link button {
  margin-right: auto;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  background-color: #ff00ff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #090909;
}

.project .display {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  /* align-items: center; */
  column-gap: 40px;
  row-gap: 40px;
}
.project .display .item {
  background-color: #111111;
  border: 2px solid #212121;
  padding: 20px;
  width: 550px;
  height: 100%;
  border-radius: 8px;
  transition: border 0.1s;
  cursor: pointer;
  /* display: flex;
    flex-direction: column; */
}

@keyframes project-item {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes project-item1 {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.project .display .item1 {
  animation: project-item 1s;
}
.project .display .item2 {
  animation: project-item1 1s;
}
.project .display .item:hover {
  border-color: #dead44;
}
.project .display .item .up {
  object-fit: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  /* background-image: url('/3.png'); */
  background-size: cover;
  z-index: 10;
}
.project .display .item .up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, .5); */
  backdrop-filter: blur(20px);
  width: 100%;
  /* background-image: url('/3.p ng'); */
  height: 100%;
  z-index: 0;
  transition: opacity 0.4s, filter 0.4s;
}
.project .display .item .up img {
  height: 100%;
  /* width: 100%; */
  z-index: 1;
  position: relative;
  transition: opacity 0.4s, filter 0.4s;
}

.project .display .item .up::after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data);
  z-index: 20;
  height: 100%;
  width: 90%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0 30px;
  text-shadow: 1px 1px black;
  transform: translateY(-100%);
  transition: transform 0.8s;
}

.project .display .item .bottom {
  margin-top: 20px;
  z-index: 100;
}
.project .display .item .bottom h3 {
  font-size: 25px;
  font-family: "Outfit";
}
.project .display .item .bottom .tech {
  margin-top: 10px;
  display: flex;
  column-gap: 15px;
}
.project .display .item .bottom .tech p {
  border: 1px solid white;
  display: inline-block;
  padding: 3px 20px;
  border-radius: 4px;
}
.project .display .item .bottom .tech span {
  display: none;
  white-space: nowrap;
}
.project .display .item .bottom .tech p:hover {
  span {
    display: block;
  }
  i {
    display: none;
  }
}

.project .display .item:hover {
  img {
    filter: blur(5px);
  }
  .up::after {
    transform: translateY(0);
  }
}


.project .blackout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    z-index: 50;
    display: none;
}
.project .item-display {
  position: fixed;
  top: -50px;
  transform: translateY(15%);
  width: 75vw;
  height: 80vh;
  border-radius: 10px;
  background-color: #090909;
  z-index: 100;
  margin-left: 12.5vw;
  box-shadow: 0 0 64px 30px rgba(255, 255, 255, 0.1);
  overflow-y: scroll;
  display: none;
}
.project .item-display::-webkit-scrollbar {
  width: 10px;
}
.project .item-display::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 8px;
}
.project .item-display::-webkit-scrollbar-thumb:hover {
  background-color: #465057;
}
.project .item-display .first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;
}
.project .item-display .first h6{
    align-self: flex-end;
}
.project .item-display .first .links{
    display: flex;
    column-gap: 15px;
    /* align-items: center; */
    /* justify-content: center; */
}
.project .item-display .first h2 {
  font-size: 13px;
  font-weight: 400;
  font-family: "Inter";
  letter-spacing: 1.5px;
  width: 85%;
  line-height: 1.8;
}
.project .item-display .first .image img {
    width: 100%;

}
.project .item-display .first .image::-webkit-scrollbar{
    height: 10px;
}
.project .item-display .first .image::-webkit-scrollbar-thumb{
    background-color: #3d3d3d;
    border-radius: 4px;
}
.project .item-display .first .image::-webkit-scrollbar-track{
    /* background-color: blue; */
}

.project .item-display .testimonial__container:hover{
    .swiper-button-next,
    .swiper-button-prev{
        opacity: .7;
    }
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
    opacity: 1;
    color: blue;
}
.swiper-button-next,
.swiper-button-prev{
    opacity: .1;
    color: black;
    text-shadow: 0 0 white;
}
  .swiper-wrapper{
    align-items: center;
  }
  .testimonial__container img{
    width: 100%;
    height: auto;
  }

  .testimonial__container{
    width: 400px;
    height: 400px;
    grid-row: 1/5;
  grid-column: 2/3;
  user-select: none;
  display: flex;
  }

  .swiper-pagination-bullet {
    background-color: grey !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: blue !important;
  }

.project .item-display .first .image {
  grid-row: 1/5;
  grid-column: 2/3;
  padding: 20px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -.75rem hsla(0%,0%,0%,0.25);
  border-radius: .5rem;
  position: relative;
  /* aspect-ratio: 16.9; */
}
.project .item-display .first .image img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.project .item-display .first .image .slider-nav{
    position: fixed;
    column-gap: 1rem;
    display: flex;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
}
.project .item-display .first .image .slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: .75;
    background-color: #fff;
    transition: opacity ease .25s;
}
.project .item-display .first .image .slider-nav a:hover{
    opacity: 1;
}
.project .item-display .second .features h2{
    margin-bottom: 15px;
    grid-column: 1/3;
    color: #00ac7c;
}
.project .item-display .second .features p{
    color: #c6e7dc;
}
.project .item-display .second .features i{
    color: #00c896;
}
.project .item-display .second .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project .item-display .second h2{
    display: flex;
    column-gap: 15px;
    font-family: "Outfit",system-ui;
    letter-spacing: .5px;
    padding: 10px 30px;
    width: max-content;
}
.project .item-display .second .language h6:hover::after{
    content: attr(data);
    position: absolute;
    left: 110%;
    font-size: 10px;
}
.project .item-display .second .language h6{
    height: 70%;
    align-self: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
}
.project .item-display .second .language h2 svg{
    stroke: #8083ff;
}
.project .item-display .second h2 svg{
    height: 30px;
}
.project .item-display .second .language h2{
    position: absolute;
    top: -65px;
    left: -25px;
    background: linear-gradient(to right,#8083ff,#ff00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project .item-display .second .language p{
    justify-self: flex-end;
    font-family: "Outfit",system-ui;
    font-weight: bold;
    color: #f0f0f0;
    letter-spacing: 1px;
}
.project .item-display .second .language{
    background-color: #17171c;
    position: relative;
    margin-top: 65px;
    border-radius: 4px;
    padding: 15px 25px;
    display: grid;
    cursor: default;
    column-gap: 15px;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
}
.project .item-display .second div{
    width: 50%;
}
.project .item-display .second {
  display: flex;
  column-gap: 25px;
  /* justify-content: space-between; */
  padding: 20px 30px;
}
.project .item-display .future h2 {
  text-align: center;
  padding-bottom: 20px;
  color: #ca7563;
  font-family: "Outfit", system-ui;
  border-bottom: 2px solid;
  margin-bottom: 20px;
}
.project .item-display .future .fut h2 {
  color: #00c6cf;
}
.project .item-display .future .bug .bx-bug {
  color: #ca7563;
}
.project .item-display .future .bx-timer {
  color: #00c6cf;
}
.project .item-display .future p {
  padding: 10px;
  border-radius: 4px;
  font-family: "Outfit",system-ui;
  letter-spacing: 1px;
  transition: background-color 0.1s;
}
.project .item-display .future p:hover {
  background-color: #201f2d;
}
.project .item-display .future .fut {
  color: #c8fcea;
}
.project .item-display .future .bug p:hover {
  background-color: #2d1f1f;
}
.project .item-display .future .bug p {
    color: #f9e5ce;
}
.project .item-display .future div p i{
    color: inherit;
}
.project .item-display .future i {
  margin-right: 10px;
}
.project .item-display .future {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px;
  column-gap: 20px;
  cursor: default;
  /* row-gap: 10px; */
}
.project .item-display .review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;
  margin-top: 20px;
}
.project .item-display .review .total {
    color: #cbe8e9;
}
.project .item-display .review .rating h4 {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.project .item-display .review .rating h4 i{
    font-size: 20px;
    color: #f3cc30;
}
.project .item-display .review .rating {
    color: #aca9bb;
}
.project .item-display .review .total,
.project .item-display .review .rating {
  background-color: #17171c;
  width: 90%;
  border-radius: 8px;
  cursor: default;
  padding: 20px 35px;
  margin-top: 25px;
}
.project .item-display .review h2 i {
  margin-right: 10px;
}
.project .item-display .review h2 {
  /* background-color: #00e5b0; */
  width: max-content;
  padding: 10px 30px;
  border-radius: 8px;
  font-family: "Outfit", system-ui;
  /* color: #111; */
  color: #00e5b0;
  border-bottom: 2px solid;
  cursor: pointer;
  transition: all .2s;
}
.project .item-display .review h2:hover{
    background-color: #00e5b0;
    color: #111;
    border: 2px solid;
}
.project .item-display .review h4{
    font-size: 50px;
    font-family: "Inter",system-ui;
    color: inherit;
}
.project .item-display .review h3{
    font-size: 20px;
    font-family: "Inter",system-ui;
}
.project .item-display .review h2,
.project .item-display .review .rate {
  grid-column: 1/3;
}
.project .item-display .review .rate button:hover{
    background-color: #ff00ff;
    color: #111;
}
.project .item-display .review .rate button {
    margin-left: auto;
    display: block;
    /* background-color: #ff00ff; */
    color: #ff00ff;
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-family: "Outfit",system-ui;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color .3s,color .2s;
}
.project .item-display .review .rate{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project .item-display .bottom {
  position: sticky;
  bottom: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #111111;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  z-index: 30;
}
.project .item-display .bottom button:hover:nth-child(2){
    background-color: red;
    color: #111;
}
.project .item-display .bottom button:nth-child(2){
    background-color: transparent;
    padding: 0 20px;
    font-size: 20px;
    color: red;
    transition: background-color .5s,color .2s,box-shadow .6s;
}
.project .item-display .bottom button {
    background-color: #00c6cf;
    border: 0;
    padding: 10px 30px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Inter";
    color: #00272f;
    letter-spacing: 0.5px;
}
.project .item-display .bottom .not:hover:after{
    content: "Not available";
    position: absolute;
    bottom: 120%;
    background-color: white;
    color: #111;
    left: 20%;
    font-size: 10px;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1px;
    padding: 2px 10px;
    animation: fadeIn .5s;
}
.project .item-display .bottom .not{
    position: relative;
    opacity: .5;
}
.project .item-display .bottom button:hover {
  box-shadow: 0 0 5px 5px;
}
.project .item-display .bottom button:last-child {
  background-color: #8685ef;
  padding: 10px 40px;
}
@media (max-width: 600px) {
  .project {
    padding-bottom: 60px;
  }
  .project .tops {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .project .tops button {
    width: 100%;
  }
  .project .link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90vw;
    margin: 0 5vw;
    row-gap: 20px;
  }
  .project .link button {
    grid-column: 1/4;
    margin-bottom: 10px;
  }
  .project .display {
    grid-template-columns: 1fr;
  }
  .project .display .item {
    width: 90vw;
    margin-left: 5vw;
  }
  .project .display .item .up {
    height: 20vh;
  }
  .project .display .item .bottom h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .project .display .item .bottom .tech {
    display: block;
  }
  .project .display .item .bottom .tech p {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  /* for item display */
  .project .item-display{
    width: 95vw;
    margin-left: 2.5vw;
  }
  .project .item-display .first{
    grid-template-columns: 1fr;
  }
  .project .item-display .first .testimonial__container {
    grid-column: 1;
    grid-row: 5;
    width: 100%;
  }
  .project .item-display .second{
    flex-direction: column;
  }
  .project .item-display .second div{
    width: 100%;
    margin-bottom: 30px;
  }
  .project .item-display .second .features {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .project .item-display .second .features h2 {
    grid-column: 1;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .project .item-display .future {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
  .project .item-display .review{
    grid-template-columns: 1fr;
  }
  .project .item-display .review div{
    grid-column: 1;
  }
  .project .item-display .review .rate{
    flex-direction: column;
    width: 100%;
    align-items: start;
  }
  .project .item-display .review .rate button{
    margin-left: 0;
    margin-top: 20px;
  }
  .project .item-display::-webkit-scrollbar {
    display: none;
  }
}



.rating-container .cls-1 {
  fill: #f7db5e;
}
.rating-container .cls-2 {
  fill: #f3cc30;
}
.rating-container .cls-3 {
  fill: #edbd31;
}

.rating-container {
  transform: translateX(60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  /* padding: 2em 2em 2em 5em; */
  gap: 10px;
  width: 50%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border: none;
  position: relative;
  .rating-value {
    position: absolute;
    top: -10px;
    left: -69px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      line-height: 80px;
      font-size: 2.5em;
      color: var(--first-color);
      color: #f5b061;
      content: "0";
      transform-origin: "center center";
      transition: all 0.25s ease 0s;
    }
    &:after {
      content: "";
      position: absolute;
      height: 80px;
      width: 80px;
      top: -1px;
      left: -1px;
      margin: auto;
      /* border: 1px solid #ffbb00; */
      border-radius: 50%;
      transition: all 0.4s ease-in;
    }
  }
  input {
    display: none;
  }
  label {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform-origin: "center center";
    svg {
      transition: transform 0.4s ease-in-out;
      opacity: 0.5;
    }
    &:hover {
      svg {
        transform: scale(1.25) rotate(10deg);
      }
    }
  }
}

.rating-container input:checked ~ label svg {
  opacity: 1;
  transform: scale(1.25) rotate(10deg);
}

.rating-container label:hover {
  svg,
  ~ label svg {
    opacity: 1;
    transform: scale(1.25) rotate(10deg);
  }
}

.rating-container input:checked {
  + label:hover svg {
    opacity: 1;
  }

  ~ label:hover {
    svg,
    ~ label svg {
      opacity: 1;
    }
  }
}

.rating-container label:hover ~ input:checked ~ label svg {
  opacity: 1;
}

.rating-container #rate1:checked ~ .rating-value:before {
  content: "1";
  font-size: 2.75em;
}

.rating-container label[for="rate1"]:hover ~ .rating-value:before {
  content: "1" !important;
  font-size: 2.75em !important;
}

.rating-container #rate2:checked ~ .rating-value:before {
  content: "2";
  font-size: 3em;
}

.rating-container label[for="rate2"]:hover ~ .rating-value:before {
  content: "2" !important;
  font-size: 3em !important;
}

.rating-container #rate3:checked ~ .rating-value:before {
  content: "3";
  font-size: 3.25em;
}

.rating-container label[for="rate3"]:hover ~ .rating-value:before {
  content: "3" !important;
  font-size: 3.25em !important;
}

.rating-container #rate4:checked ~ .rating-value:before {
  content: "4";
  font-size: 3.5em;
}

.rating-container label[for="rate4"]:hover ~ .rating-value:before {
  content: "4" !important;
  font-size: 3.5em !important;
}

.rating-container #rate5:checked ~ .rating-value:before {
  content: "5";
  font-size: 3.75em;
}

@keyframes pulse {
  0% {
    height: 138px;
    width: 138px;
    top: -1px;
    left: -1px;
    opacity: 1;
  }
  100% {
    height: 170px;
    width: 170px;
    top: -16px;
    left: -16px;
    opacity: 0;
  }
}

.rating-container #rate5:checked ~ .rating-value:after {
  animation: pulse 0.4s ease-out 1;
}

.rating-container label[for="rate5"]:hover ~ .rating-value:before {
  content: "5" !important;
  font-size: 3.75em !important;
}
